body {
    background-color: black;
    color:blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width: 600px){
body {
    background-color: black;
    color: pink;
}}

.backgroundphoto {
    background: url(yvette-de-wit-unsplash.jpg);
    background-size: cover;
    padding: 20px;
}

p {
    text-align: center;
}

a {
    color: white;
    transition: 1s;
}
a:hover {
    color: blanchedalmond;
}


h1 {
    color: white;
    text-align: center;
}

.checked {
  color: orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color:salmon;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
* {
  box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

footer {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #333;
  color: white;
}

a.one:link {
  color: blanchedalmond;
  font-size: larger;
}
a.one:hover {
  color: red;
  font-size: x-large;
}